body {
    font-family: monospace;
    font-size: 18px;
    line-height: 1;
    background-color: #ebdada;
  }
  
  textarea {
    background: #dfdfde;
    border: 1px solid #a2798f;
    resize: none;
    color: #000000;
    padding: 15px;
    border-left: 1px solid #a2798f;
  }
  
  .jumbotron {
    text-align: left;
    background-color: #dfdfde;
    color: 	#a2798f;
    border-radius: 0px;
    border: 1px solid #a2798f;
    
  }
  
  .description{
    white-space: pre-wrap;
    font-size: 18px;
    
  }
  
  .time-block{
    text-align: center;
    border: .5px solid #a2798f;
    color: #a2798f;
    background-color: #dfdfde;


  .row {
    white-space: pre-wrap;
    height: 100px;
    border: 500px solid #dfdfde;
  }
  
  .hour {
    background-color: #dfdfde;
    color: #8caba8;
    border-top: 100px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  